@use "../base/variables.scss" as v;

.content {
    background: transparent;
    position: absolute;
    display:inline-flex;
    column-gap: 30px;
    margin-top: 50px;
    max-width: 1043px;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 50px);
    z-index: -1;
}

.weather {
    position: relative;
    display: grid;
    max-width: 690px;
    width: 100%;
    gap: 20px;
    column-count: 4;
    align-content:baseline;
    justify-items: center;
    height: calc(100% - 20px);
    padding-top: 20px;
    
    background: transparent;

}

.forecast {
    padding-top: 20px;
    display: grid;
    background: transparent;
    max-width: 322px;
    row-gap: 20px;
    align-content: baseline;
    width: 100%;
    height: calc(100% - 20px);
}

.weather_widget {
    position: relative;
    color: v.$Light_text_gray;
    background-color: v.$background;
    border-radius: 15px;
    width: 100%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-4px -4px 4px rgba(255, 255, 255, 0.75))
    
}

.weather_widget_mini {
    position: relative;
    background-color: v.$background;
    border-radius: 10px;
    width: 100%;
    height: 120px;
    // aspect-ratio: 1/1;
   
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-4px -4px 4px rgba(255, 255, 255, 0.75))
    
}

.weather_screen {
    
    height: 158px;

    grid-column: 1/3;
    grid-row: 1;
}
.current_weather {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    height: 138px;
    width: 100%;
}

.current_weather > * {
    float: left;
    
}

.status {
    position: relative;
    font-family: inter;
    font-size: 1.5rem;
    text-align: center;
    
    
    top: 50%;
    transform: translateY(-50%);
}

.status > p{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.weather_text_status:hover{
    overflow: visible;
    text-overflow: clip;
}



.temerature {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 7px;
    font-size: 7rem;
}

.weather_chart {
    height: 300px;
    overflow-x: scroll;
    grid-column: 1/3;
}

.forecast_chart_label {
    position: absolute;
    top: 12px;
    left: 12px;
}
.chart {
    position: absolute;
    height: 85%;
    bottom: 0;
    left: 0;
    // width: 1000px;
    // width: 100%;
}

.chart > canvas {
    pointer-events: none;
}

.weather_icon {
    width: 94px;
    height: 94px;
}

.time_and_city {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.city_name {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: 0;
}

.current_time {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: 0;
}

.forecast_widget {
    position: relative;
    width: 100%;
    height: 61px;
    color: v.$Light_text_gray;
    background-color: v.$background;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-4px -4px 4px rgba(255, 255, 255, 0.75))
}


.forecast_day {
    position: relative;
    font-size: 1.25rem;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    
}

.forecast_icon {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.forecast_temp {
    position: absolute;
    display: grid;
    grid-template-columns: 40px auto 40px;
    font-size: 1rem;
    right: 8px;
    align-items: center;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);

}

.mini_widget_text {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.mini_widget_title {
    color: #87858F;
    font-family: 'Inter';
    font-size: 1rem;
}

.mini_widget_value {
    font-family: 'Inter', serif;
    font-weight: bold;
    color: #87858F;
    font-size: 1.25rem;
}

.mini_widget_chart {
    position: absolute;
    right: 12px;
    top: 50%;
    // border: 1px solid black;
    transform: translateY(-45%);

}

