@use "../base/variables.scss" as v;

.search_panel {
    max-width: 537px;
    height: 30px;
    position: relative;
    background-color: v.$base_color_1;
    border: none;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    margin: {
        top: auto;
        bottom: auto;
    }
    transform: translate(-50%, -50%);
    display: flex;
    overflow: hidden;
    z-index: 2;
}
@media (max-width: 577px) {
    .search_panel {
        width: calc(100% - 40px);
    }

    .hints {
        width: calc(100% - 40px);
    }
    
}

.search_panel:hover {
    background-color: v.$base_color_2;
}

.search_panel:has(.search:focus) {
    background-color: v.$base_color_3;
}

.search_panel button {
    background-color: transparent;
    position: relative;
    height: 30px;
    width: 30px;
    top: 50%;
    border: none;
    
    transform: translateY(-50%);
}

.search_panel button:focus {
    outline: none;
}

// .search_panel button svg {
//     fill: v.$light_icon_gray;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 16px;
//     height: 16px;
//     transform: translate(-50%, -50%);
// }

.search_panel .clear_all_button svg {
    fill: v.$light_icon_gray;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
}

// .button {
//     position: relative;
//     top: 50%;
//     transform: translateY(-50%);
// }

// .magnifier_icon {
//     visibility: visible;
// }

// .button:hover > .magnifier_icon {
//     visibility: hidden;
// }

// .magnifier_hovered_icon {
//     visibility: hidden;
// }

// .button:hover > .magnifier_hovered_icon {
//     visibility: visible;
// }

.clear_all_button {
    display: block;
    right: 0;
}

.clear_all_icon {
    visibility: visible;
    
}



.clear_all_button:hover > .clear_all_icon {
    visibility: hidden;
}

.clear_all_hovered_icon {
    visibility: hidden;
}

.clear_all_button:hover > .clear_all_hovered_icon {
    visibility: visible;
}

.search {
    background-color: transparent;
    color: black;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 17px;
    margin-left: 10px;
}

.search:focus {
    outline: none;
}

.search:placeholder-shown + .clear_all_button>*, .clear_all_button {
    background-color: black;
    visibility: hidden;
}

// -------------------------- Search hints ----------------------------]

.hints {
    background-color: v.$base_color_3;
    top: 5px;
    position: relative;
    max-width: 537px;
    max-height: 300px;
    left: 50%;
    border: none;
    height: fit-content;
    transform: translateX(-50%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    z-index: 1;
    visibility: hidden;
    
    overflow-y: scroll;
}

.search_panel:has(.search:focus) + .hints {
    transition: visibility 0.1s;
    transition-delay: 0.1s;
    visibility: visible;
}
.hints:hover {
    visibility: visible;
}

.hints:has(.hintList:empty) {
    visibility: hidden !important;

}

.line {
    width: calc(100% - 20px);
    position: sticky;
    top: 0px;
    margin: 0 10px;
    border-top: 1px solid black;
    z-index: 2;
}

.hintList {
    position: relative;
    left: 0;
    list-style-type: none;
    padding: 5px 10px;
    margin: 0;
}

.hintListItem {
    position: relative;
    color: black;
    height: 35px;
    margin-bottom: 10px;

}
.hintListItem button {
    text-align: left;
    color: black;
    background-color: v.$base_color_3;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.hintListItem button:hover {
    background-color: #dadbe6;
}

.hintListItem button:focus {
    outline: none;
}

