// -----light theme ------
$background: #E6E6EF;
// $background: #242424;
$base_color_1: #F5F6FD;
$base_color_2: #e4e4e9;
$base_color_3: #F5F6FD;

$accent_color_1: #B6C3CE;
$accent_color_2: #aab5be;
$accent_color_3: #97a0a8;

$Light_text_gray: #87858F;
$light_icon_gray: #636B74;